services:
  mysql:
    image: mysql:8.4
    container_name: hostel-mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: hostel_db
      MYSQL_USER: hostel_user
      MYSQL_PASSWORD: hostel_pass
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-uroot", "-prootpass"]
      interval: 5s
      timeout: 3s
      retries: 20

volumes:
  mysql_data:
